<div>
    <h3 style="text-align: center; margin-bottom: 50px;">ORDONNANCE</h3>
    <div>
        <div>
            <h3>Dr <%= order.praticien.firstName %> <%= order.praticien.lastName %></h3>
            <div><%= order.praticien.specialite %></div>
            <div>Tél: <%= order.praticien.contact %></div>
        </div>
        <div class="ar">
            <div>Date: <%= order.date %> </div>
        </div>
    </div>
    <div style="margin: 50px 0px">
        Patient: <%= order.patient.fullName %>
    </div>
    <div>
        <div class="mlr">
            <% order.prescriptions.forEach(doc=> {%>
                <p class="mm">
                    <span> - <%= doc.designation %>........</span>
                    <span><%= doc.usage %></span>
                </p><% }); %> 
        </div>
    </div>

    <div>
        <hr>
        <p style="text-align: center;">freedocteur</p>
    </div>
</div>